.dashboard-page {

    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;

    .chart-title {
        font-weight: 500;
        color: #615d67;
    }    

    .chart-section-card {
        background-color: #ffffff;
        border-radius: 10px;
        width: 100%;
        padding: 30px;
        margin-bottom: 20px;
    }
}