$title-main: #6642eb;
$title-sub: #555657;
$common-form-white: #ffffff;

.add-ndc-main-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 0 50px;

  .title-container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;

    .main {
      font-size: 1.25rem;
      font-weight: 500;
      color: $title-main;
    }

    .sub {
      font-size: 0.8rem;
      color: $title-sub;
    }
  }

  .steps-actions {
    display: flex;
    flex-direction: row-reverse;
    .mg-left-1 {
      margin-left: 1rem;
    }
  }

  .adding-section {
    display: flex;
    flex-direction: column;
    background-color: $common-form-white;
    margin: 1rem 0 1rem 0;
    border-radius: 10px;
    padding: 2.5rem 1.5rem 2.5rem 1.5rem;
  }
}
