.number-chip {

    .tCO2_color {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        font-size: 13px;
        font-weight: 700;
        width: 100%;
        border-width: 0;
        background-color: #d3bbfe;
        color: #7e7e7e;
    }

    .tCH4_color {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        font-size: 13px;
        font-weight: 700;
        width: 100%;
        border-width: 0;
        background-color: #e8e8e8;
        color: #7e7e7e;
    }

    .tN2O_color {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        font-size: 13px;
        font-weight: 700;
        width: 100%;
        border-width: 0;
        background-color: #e3f3fb;
        color: #7e7e7e;
    }

    .tCO2-eq_color {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        font-size: 13px;
        font-weight: 700;
        width: 100%;
        border-width: 0;
        background-color: #ffc9c9;
        color: #7e7e7e;
    }


    .default_color {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        font-size: 13px;
        font-weight: 700;
        width: 100%;
        border-width: 0;
        background-color: #e3f3fb;
        color: #7e7e7e;
    }
    
  }