.ndc-details-view {
  .card-container {
    margin-bottom: 16px;
    width: 100%;
    border-radius: 10px;

    .action-btns {
      margin-top: 25px;
      margin-bottom: -15px;
      justify-content: end;
    }
  }

  .fix-height {
    height: 227px;
  }
}
