@import '../../Styles/variables.scss';

.ndc-action-details-container {
  Input {
    height: 40px;
  }

  .ant-select-selection-item {
    color: #949599 !important;
  }

  .ant-select-dropdown {
    font-family: $primary-font-family;
    color: #949599 !important;
  }

  .ant-select-selector {
    color: #949599 !important;
  }

  .label-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: rgba(58, 53, 65, 0.5);
    margin-bottom: 5px;
  }
}
