.projection-section-card {
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}