@import "../../../Styles/app.scss";

body .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input,
body .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover {
  border-color: #ff4d4f !important;
}

.project-form {

  .form-item-header {
    color: #3a3541;
    opacity: 0.8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .form-section-header {
    color: #3A3541;
    opacity: 0.8;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 15px;
  }
  
  .form-section-sub-header {
    color: #3A3541;
    opacity: 0.8;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 550;
  }
  
  .form-input-box {
    font-size: 13px;
    height: 40px;
  }
  
  .create-kpi-button {
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    color: #3A3541;
    opacity: 0.8;
    padding: 0;

    .kpi-add-text {
      color: #3A3541;
    }
  }

  .sticky-footer {
    height: 60px;
    background-color: #f4f5fa;
    padding: 15px 2px;
    position: sticky;
    bottom: 0;
  }
}