@import '../Common/colors.addProgramme.scss';
@import '../Common/colors.role.scss';
@import '../../Styles/variables.scss';

.programme-details-form-container {
  width: 100%;
  .programme-details-form {
    .ant-picker-large {
      height: 40px !important;
      width: 100%;
    }
    .steps-actions {
      display: flex;
      flex-direction: row-reverse;
      .mg-left-1 {
        margin-left: 1rem;
      }
    }
    .row {
      .website {
        .ant-input {
          margin-left: 0.3rem;
        }
        .ant-input-group-addon {
          border: 1px solid $common-form-input-border;
        }
      }
      .design-upload-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        width: 100%;

        .icon-color {
          color: $primary-color !important;
        }

        .ant-upload {
          width: 20%;
        }

        .ant-upload-list {
          align-items: center;
          justify-content: center;
          width: 75%;

          .ant-upload-list-item {
            margin-top: 0;
          }
        }
      }
      .details-part-one {
        .upload-doc {
          height: 40px !important;
        }

        .ant-upload-list-item {
          border-radius: 5px !important;
          height: 40px !important;
        }
      }
      .details-part-two {
        .role-group {
          .condition-radio-container {
            width: 48%;
            text-align: center;
            .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
              color: $dark-text-color !important;
              border-color: $primary-purple !important;
              box-shadow: none;
            }
          }
          .ant-radio-button-wrapper::before {
            background-color: transparent;
          }
          .ant-radio-button-wrapper {
            border: 1px solid $common-form-input-border;
          }

          .anticon {
            margin-right: 0.5rem;
          }
          .condition-radio {
            width: 100%;
            .ant-radio-button-checked {
              background: $primary-purple;
              color: #ffffff;
            }
          }
          .role-icons {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.step-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  .step-count {
    font-size: 2.2rem;
    font-weight: 800;
    margin-right: 0.4rem;
    color: $steps-count;
  }

  .title {
    font-size: 1rem;
    font-weight: 600;
    color: $steps-title;
  }
}

.add-programme-main-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 0 50px;

  .title-container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;

    .main {
      font-size: 1.25rem;
      font-weight: 500;
      color: $title-main;
    }

    .sub {
      font-size: 0.8rem;
      color: $title-sub;
    }
  }

  .adding-section {
    display: flex;
    flex-direction: column;
    background-color: $common-form-white;
    margin: 1rem 0 1rem 0;
    border-radius: 10px;
    padding: 2.5rem 1.5rem 2.5rem 1.5rem;

    .form-section {
      display: flex;
      margin-bottom: 2rem;

      .form-one {
        width: 100%;
      }
      .steps {
        width: 15%;
      }

      .steps-content {
        width: 85%;
      }
    }

    .steps-action {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}

.ant-upload-list-picture .ant-upload-list-item-error,
.ant-upload-list-picture-card .ant-upload-list-item-error {
  height: auto;
  max-height: 200px;
}
