@import "../../../Styles/colors.addUser.scss";
@import "../../../Styles/colors.addCompany.scss";
@import "../../../Styles/variables.scss";
@import "../../../Styles/colors.role.scss";

.mg-left-1 {
  margin-left: 1rem;
}

.add-user-main-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 0 50px;

  .title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-radius: 5px;

    .titles {
      display: flex;
      flex-direction: column;
      width: 50%;
      .main {
        font-size: 1.25rem;
        font-weight: 500;
        color: $title-main;
      }

      .sub {
        font-size: 0.8rem;
        color: $title-sub;
      }
    }

    .actions {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-end;
      width: 50%;

      .btn-danger {
        color: $danger-btn !important;
        border-color: $danger-btn-border !important;
      }
    }
  }
}

.user-content-card {
  width: 100%;
  padding: 2.5rem 2rem 1rem 2rem;
  margin-top: 1rem;
}

.content-card {
  .PhoneInputInput .input {
    border-radius: 5px !important;
  }

  .user-details-form {
    .actions {
      display: flex;
      flex-direction: row-reverse;
    }
    .row {
      .details-part-one {
        .validate-permissions{
          display: flex;
          flex-direction: row;
          color: rgba(58, 53, 65, 0.5) !important;
          justify-content: space-between;
          width: 75%;
          .align{
            padding-right: 35%;
          }
        }
        .subRole-permissions{
          display: flex;
          flex-direction: row;
          color: rgba(58, 53, 65, 0.5) !important;
          justify-content: space-between;
          margin-top: -15px;
          width: 75%;
          .align{
            padding-right: 15%;
          }
        }
      }
      .details-part-two {
        .role-group {
          // .ant-radio-group {
          //   justify-content: space-between;
          // }
          .root-radio-container {
            width: 30%;
            text-align: center;
            .ant-radio-button-wrapper-checked:not(
                .ant-radio-button-wrapper-disabled
              ) {
              color: $root-color !important;
              border-color: $root-color !important;
              box-shadow: none;
            }

            .anticon {
              background: #eeeeee;
              border-radius: 50px;
              padding: 0.2rem;
              color: $root-color;
            }
          }
          .administrator-radio-container {
            width: 30%;
            text-align: center;
            .ant-radio-button-wrapper-checked:not(
                .ant-radio-button-wrapper-disabled
              ) {
              color: $admin-color !important;
              border-color: $admin-color !important;
              box-shadow: none;
            }

            .anticon {
              background: #eeeeee;
              border-radius: 50px;
              padding: 0.2rem;
              color: $admin-color;
            }
          }
          .government-radio-container {
            width: 30%;
            text-align: center;
            .ant-radio-button-wrapper-checked:not(
                .ant-radio-button-wrapper-disabled
              ) {
              color: $gov-color !important;
              border-color: $gov-color !important;
              box-shadow: none;
            }

            .anticon {
              background: #eeeeee;
              border-radius: 50px;
              padding: 0.2rem;
              color: $gov-color;
            }
          }
          .observer-radio-container {
            width: 30%;
            text-align: center;
            .ant-radio-button-wrapper-checked:not(
                .ant-radio-button-wrapper-disabled
              ) {
              color: $obs-color !important;
              border-color: $obs-color !important;
              box-shadow: none;
            }

            .anticon {
              background: #eeeeee;
              border-radius: 50px;
              padding: 0.2rem;
              color: $obs-color;
            }
          }
          .department-radio-container {
            width: 30%;
            text-align: center;
            .ant-radio-button-wrapper-checked:not(
                .ant-radio-button-wrapper-disabled
              ) {
              color: $subrole-color !important;
              border-color: $subrole-color !important;
              box-shadow: none;
              .anticon {
                background: $anticon-roles-bg;
                border-radius: 50px;
                padding: 0.2rem;
                color: $subrole-color;
                text-align: center;
              }
            }
          }
          .consultant-radio-container {
            width: 30%;
            text-align: center;
            .ant-radio-button-wrapper-checked:not(
                .ant-radio-button-wrapper-disabled
              ) {
              color: $subrole-color !important;
              border-color: $subrole-color !important;
              box-shadow: none;

              .anticon {
                background: $anticon-roles-bg;
                border-radius: 50px;
                padding: 0.2rem;
                color: $subrole-color;
              }
            }
          }
          .seo-radio-container {
            width: 30%;
            text-align: center;
            .ant-radio-button-wrapper-checked:not(
                .ant-radio-button-wrapper-disabled
              ) {
              color: $subrole-color !important;
              border-color: $subrole-color !important;
              box-shadow: none;
            }

            .anticon {
              background: $anticon-roles-bg;
              border-radius: 50px;
              padding: 0.2rem;
              color: $subrole-color;
            }
          }
          .tec-rev-radio-container {
            width: 47.5%;
            text-align: center;
            .ant-radio-button-wrapper-checked:not(
                .ant-radio-button-wrapper-disabled
              ) {
              color: $subrole-color !important;
              border-color: $subrole-color !important;
              box-shadow: none;
            }

            .anticon {
              background: $anticon-roles-bg;
              border-radius: 50px;
              padding: 0.2rem;
              color: $subrole-color;
            }
          }
          .dev-partner-radio-container {
            width: 47.5%;
            text-align: center;
            .ant-radio-button-wrapper-checked:not(
                .ant-radio-button-wrapper-disabled
              ) {
              color: $subrole-color !important;
              border-color: $subrole-color !important;
              box-shadow: none;
            }

            .anticon {
              background: $anticon-roles-bg;
              border-radius: 50px;
              padding: 0.2rem;
              color: $subrole-color;
            }
          }
          .ant-radio-button-wrapper::before {
            background-color: transparent;
          }
          .ant-radio-button-wrapper {
            border: 1px solid $common-form-input-border;
          }
          .role-icons {
            margin-right: 5px;
          }

          .anticon {
            margin-right: 0.5rem;
          }

          .department {
            width: 100%;
            .ant-radio-button-checked {
              background: $subrole-bg-color;
            }
          }
          .consultant {
            width: 100%;
            .ant-radio-button-checked {
              background: $subrole-bg-color;
            }
          }
          .seo {
            width: 100%;
            .ant-radio-button-checked {
              background: $subrole-bg-color;
            }
          }
          .tec-rev {
            width: 100%;
            .ant-radio-button-checked {
              background: $subrole-bg-color;
            }
          }
          .dev-partner {
            width: 100%;
            .ant-radio-button-checked {
              background: $subrole-bg-color;
            }
          }
          .root {
            width: 100%;
            .ant-radio-button-checked {
              background: $root-bg-color;
              color: $root-color;
            }
          }
          .administrator {
            width: 100%;
            .ant-radio-button-checked {
              background: $admin-bg-color;
              color: $admin-color;
            }
          }
          .government {
            width: 100%;
            .ant-radio-button-checked {
              background: $gov-bg-color;
              color: $gov-color;
            }
          }
          .observer {
            width: 100%;
            .ant-radio-button-checked {
              background: $obs-bg-color;
              color: $obs-color;
            }
          }
        }
      }
    }
  }

  .create-user-container {
    padding: 30px 10px;
    background-color: $common-form-white;
    .ant-row {
      margin-bottom: 0.5vw;
    }
    .create-user-btn-container {
      margin-top: 1.5vw;
      margin-bottom: 0;
      .ant-btn-primary {
        background-color: $common-form-red;
        color: $common-form-white;
        font-family: "Inter-Regular";
        border: none;
        height: 40px;
        font-size: 0.9rem;
        border-radius: 0.3rem;
        box-shadow: 0px 8px 16px $box-shadow-v1;
        min-width: 170px;
      }
    }
    .create-user-image-upload {
      display: flex;
      flex-direction: row;
      align-items: center;
      .create-user-image-upload-label {
        margin-right: 2vw;
        .create-user-image-upload-txt {
          font-family: "Inter-Regular";
          font-size: 1.1rem;
        }
      }
      .create-user-image-upload-btn-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        .create-user-image-upload-btn {
          margin-right: 1vw;
        }
        .create-user-image-upload-error-txt {
          font-family: "Inter-Regular";
          font-size: 1rem;
          color: $error-color;
        }
      }
    }
  }
}
